@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    margin:0px;
}
.header{
    position: relative;
    top:0px;
    width:100%;
    min-width: 1280px;
    height:5vh;
    background-color:white;

}
.nav{
    position: relative;
    top:0px;
    margin: 0px auto;
    min-width: 1280px;
    width:1280px;
    height:100%;
    background-color: white;
}
.main{
    position: relative;
    top:0px;
    min-width: 1280px;
    min-height: 90vh;
    margin:0px auto;
    width:100%;
    height: 90vh;
    background-color:#bebebe;
}
.footer{
    position: relative;
    top:0px;
    min-width: 1280px;
    width:100%;
    height: 5vh;
    background-color:black;
}
.header .nav .menu1{
    position: relative;
    float:left;
    top:10px;
    width : 100px;
    cursor: pointer;
}
.header .nav .menu2{
    position: relative;
    float:left;
    top:10px;
    width : 100px;
    cursor: pointer;
}

.header .nav .menu3:hover{ /*마우스를 올렸을 때*/
    color:blue;
    background-color: orange;
}
.header .nav .menu3:active{ /*클릭 했을 때*/
    color:red;
    background-color: green;
}
.header .nav .menu3{
    position: relative;
    float:left;
    top:10px;
    width : 100px;
    cursor: pointer;
    /*clear:both;*/
}
.header .nav .menu4{
    position: relative;
    float:left;
    top:10px;
    width : 100px;
    cursor: pointer;
}
.header .nav .menu5{
    position: relative;
    float:left;
    top:10px;
    width : 100px;
    cursor: pointer;
}
.main .section1{
    position: relative;
    top:0px;
    width:1280px;
    margin:0px auto;
    height: 600px;
    overflow: hidden;
    padding-top: 50px;
}
.main.section1.img1{
    position:absolute;
    width : 128px;
    height : 600;
}
.main .section2{
    position: relative;
    top:0px;
    width:1280px;
    margin:0px auto;
    height: 500px;
    padding-top: 50px;
}
.main .section2 .text1{
    position:absolute;
    top:80px;
    left:20px;
    font-size: 16pt;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    text-align: left;
    width:500px;
}
.main .section2 .img2{
    position: absolute;
    border : 1px solid black;
    width : 200px;
    height: 200px;
    top : 160px;
    left: 20px;
    border-radius: 50%;
    background-image: url(img/image.gif);
    background-repeat: no-repeat;
    background-size:cover
}
.main .section2 .text2{
    position:absolute;
    font-family: 'Nanum Gothic', sans-serif;
    top:160px;
    left:400px;
    width:600px;
    height: 400px;
}

.main .section3{
    position: relative;
    top:0px;
    width:1280px;
    margin:0px auto;
    height: 300px;
    padding-top: 50px;
}
.main .section4{
    position: relative;
    top:0px;
    width:1280px;
    margin:0px auto;
    height: 300px;
    padding-top: 50px;
    border:1px solid black;
}